/* src/components/BasicInfo.css */
.basic-info {
    background-color: #ffefd5;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease;
  }
  
  .basic-info:hover {
    background-color: #ffe4b5;
  }
  
  .info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  
  h2 {
    color: #ff8c00;
  }
  